@fontSizeGlobal: 62.5%;
@fontSizeH1Small: 3.6rem;
@fontSizeH2Small: 1.6rem;
@fontSizeH3Small: 1.6rem;
@fontSizePSmall: 1.6rem;
@fontSizeH1Med: 5.4rem;
@fontSizeH2Med: 2.4rem;
@fontSizeH3Med: 2.4rem;
@fontSizePMed: 2.4rem;
@padding: 5%;
@oneColPageWidth: 100% - (@padding * 2);
@twoColPageWidth: 50% - (@padding * 2);
@inputBorderRadius: 5px;