@fontSizeGlobal: 62.5%;
@fontSizeH1: 10rem;
@fontSizeH2: 5rem;
@fontSizeH3: 5rem;
@fontSizeP: 5rem;

@padding: 5%;
@oneColPageWidth: 100% - (@padding * 2);
@twoColPageWidth: 50% - (@padding * 2);

@inputBorderRadius: 5px;