.spinner-wrapper {
  height: 16px;
}

.spinner {
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  display: block;
}

.spin {
  background-image: url('/img/spinner.gif');
}

.frame {
  background-image: url('/img/spinner-frame.png');
}