<!doctype html>
<html lang="en" ng-app="listsApp">
  <head>
    <title>Lists App</title>
    <script src="/scripts/vendor/angular.min.js"></script>
    <script src="/scripts/vendor/angular-resource.min.js"></script>
    <script src="/scripts/directives/directives.js"></script>
    <script src="/scripts/services/services.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/controllers.js"></script>
    <link rel="stylesheet" href="/styles/css/global.css">
  </head>
  <body>
    <header>
      <a href="#"><h1>Lists app</h1></a>
    </header>
    <div ng-controller="ListsController">
      <div class="lists">
        <h2>
          Lists
          <a href="" ng-click="listPredicate = 'title'; listReverse=!listReverse">Title</a>
          <a href="" ng-click="listPredicate = 'modified'; listReverse=!listReverse">Modified</a>
        </h2>
        <form ng-submit="addList()" name="addListForm">
          <div ng-show="listsMessage">{{listsMessage}}</div>
          <input type="text" ng-model="newList.title" id="title" required size="30" placeholder="add new list here" value="{{listTitle}}">
          <input class="btn-primary" ng-disabled="!addListForm.$valid" type="submit" value="add">
        </form>
        <ul class="unstyled">
          <li ng-repeat="list in lists | orderBy:listPredicate:listReverse">
            <h3 ng-click="showItems(list)">
              <a href="#/list/{{list._id}}">{{list.title}}</a>
              <span modified>{{list.modified | date:'dd-MM-yyyy'}}</span>
              <span class="remove" ng-click="removeList(list)">remove</span>
            </h3>
          </li>
        </ul>
      </div>
      <div ng-view class="items"></div>
    </div>
  </body>
</html>