<!doctype html>
<html ng-app="listsApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/services.js"></script>
    <script src="/scripts/controllers/controllers.js"></script>
    <script src="/scripts/directives/directives.js"></script>
    <link rel="stylesheet" href="/styles/css/lists.css">
  </head>
  <body>
    <h1>Lists app</h1>
    <div ng-controller="ListsController">
      <div class="lists">
        <h2>Lists</h2>
        <ul class="unstyled">
          <li ng-repeat="list in lists">
            <h3 ng-click="showItems(list)">
              <a href="#/list/{{list.id}}">{{list.title}}</a>
              <span class="remove" ng-click="removeList($index, list)">remove</span>
            </h3>
          </li>
        </ul>
        <form ng-submit="addList()" name="addListForm">
          <div ng-show="listsMessage">{{listsMessage}}</div>
          <input type="text" ng-model="listTitle" required size="30" placeholder="add new list here" value="{{listTitle}}">
          <input class="btn-primary" ng-disabled="!addListForm.$valid" type="submit" value="add">
        </form>
      </div>
      <div ng-view></div>
    </div>
  </body>
</html>