<h2>{{list.title}} Items</h2>
<ul class="unstyled">
  <li ng-repeat="item in list.items">
    <input type="checkbox" ng-click="checkItem($index)" ng-model="item.done">
    <span class="done-{{item.done}}">{{item.text}}</span>
    <span>{{item.created}}</span>
    <span class="remove" ng-click="removeItem($index)">remove</span>
  </li>
</ul>
<form ng-submit="addItem()" ng-show="list" name="addItemForm">
  <div ng-show="itemsMessage">{{itemsMessage}}</div>
  <input type="text" ng-model="itemText" required size="30" placeholder="add new item here" value="{{listTitle}}">
  <input class="btn-primary" type="submit" value="add" ng-disabled="!addItemForm.$valid">
</form>