html{font-size:62.5%;}
body{margin:0;padding:0;}
header{margin:0;}
.done-true{text-decoration:line-through;color:grey;}
.lists,.items{float:left;padding-right:5%;width:45%;}
.remove{color:#ff0000;}
.hide{display:none;}
.selected{background:#ddd;}
.spinner-wrapper{height:16px;}
.spinner{height:50px;width:50px;background-repeat:no-repeat;display:block;}
.spin{background-image:url('/img/spinner.gif');}
.frame{background-image:url('/img/spinner-frame.png');}
.flash{opacity:1.0;background-color:#dfd;transition:opacity 0.5s,height 0.75s ease-in;-moz-transition:opacity 0.5s,height 0.75s ease-in;-o-transition:opacity 0.5s,height 0.75s ease-in;-webkit-transition:opacity 0.5s,height 0.75s ease-in;margin:0;}
.flash.in{height:100%;opacity:1.0;}
.flash.out{height:0;opacity:0.0;}
