.flash{margin:0;background-color:#dfd;}
.flash-show{display:block;}
.flash-hide{display:none;}
.spinner-wrapper{-webkit-transform:translate3D(0, 0, 0);-moz-transform:translate3D(0, 0, 0);-ms-transform:translate3D(0, 0, 0);-o-transform:translate3D(0, 0, 0);transform:translate3D(0, 0, 0);float:left;margin-right:5%;}
.spinner{background-image:url('/img/spinner.svg');width:3.2rem;height:3.2rem;background-size:contain;}
.spin{-webkit-animation:rotate 1s infinite steps(12);-moz-animation:rotate 1s infinite steps(12);-ms-animation:rotate 1s infinite steps(12);-o-animation:rotate 1s infinite steps(12);animation:rotate 1s infinite steps(12);}
@keyframes "rotate"{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);} to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}}@-moz-keyframes rotate{from{-moz-transform:rotate(0deg);transform:rotate(0deg);} to{-moz-transform:rotate(360deg);transform:rotate(360deg);}}@-webkit-keyframes "rotate"{from{-webkit-transform:rotate(0deg);transform:rotate(0deg);} to{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}@-ms-keyframes "rotate"{from{-ms-transform:rotate(0deg);transform:rotate(0deg);} to{-ms-transform:rotate(360deg);transform:rotate(360deg);}}@-o-keyframes "rotate"{from{-o-transform:rotate(0deg);transform:rotate(0deg);} to{-o-transform:rotate(360deg);transform:rotate(360deg);}}html{font-size:62.5%;}
body{margin:0;padding:0;font-family:"courier new",courier,freemono,"nimbus mono l","liberation mono",monospace;color:#444444;}
header{margin:0;height:3.2rem;padding:5% 5% 0 5%;}
ul{padding-left:0;}
li{list-style:none;}
h1{font-size:3.2rem;margin:0;padding:0;}
h2{font-size:1.8rem;}
h3{font-size:1.8rem;}
p,li,a,span,input,button{font-size:1.8rem;}
input[type=text]{width:75%;outline-right:0;border-right:0;outline-left:2px solid #666666;border-top:2px solid #666666;border-bottom:2px solid #666666;padding:1%;-webkit-border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-bottomleft:5px;border-top-left-radius:5px;border-bottom-left-radius:5px;clear:left;}
input[type=submit]{width:22%;outline-right:2px solid #666666;outline-left:0;border-left:0;border-top:2px solid #666666;border-botom:2px solid #666666;padding:1%;background-color:#666666;color:#ffffff;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;}
input[type=checkbox]{visibility:hidden;}
.checkbox{width:1.8rem;position:relative;float:left;margin-right:2rem;}
.checkbox label{cursor:pointer;position:absolute;width:1.8rem;height:1.8rem;top:0;left:0;background:#eee;border:1px solid #ddd;}
.checkbox label:after{opacity:0.2;content:'';position:absolute;width:0.6666666666666666rem;height:0.36rem;background:transparent;top:0.45rem;left:0.5142857142857143rem;border:3px solid #333;border-top:none;border-right:none;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.checkbox label:hover::after{opacity:0.5;}
.checkbox input[type=checkbox]:checked+label:after{opacity:1;}
.clickable{cursor:pointer;}
.done-true{text-decoration:line-through;color:#808080;}
.main{position:relative;}
.lists,.items{position:absolute;top:0;padding:0 5% 0 5%;width:90%;}
.items{-webkit-transition:opacity 0.4s ease-in-out;-moz-transition:opacity 0.4s ease-in-out;-o-transition:opacity 0.4s ease-in-out;transition:opacity 0.4s ease-in-out;}
.items.open{opacity:1.0;}
.items.closed{opacity:0.0;}
.lists.open{opacity:0.0;}
.lists.closed{opacity:1.0;}
.lists,.items{left:0;}
.lists li,.items li{padding:1rem 0 1rem 0;line-height:1.8rem;}
.remove{color:#ff0000;}
.hide{display:none;}
.selected{background-color:#dddddd;}
@media (max-width:767px){}@media (min-width:768px) and (max-width:979px){}@media (min-width:980px){}@media (min-width:1200px){}
